*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: fit-content;
    width: 100%;

}
nav{
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #dcd9d3;
    outline: 0.1px solid #bbb6aa;
}
.logo{
    height: 90px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #173A34;
}
.logo img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #173A34;
    font-size: 20px;
    font-weight: 600;
}
.browse button,#explore{
    height: 50px;
    width: 160px;
    background-color: #173A34;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}